* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, serif;
    line-height: 1.6;
    color: #2c3e50;
}
header{
    background-color: #4CAF50;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: white;
    padding: 1rem;
    text-align: center;
}

h1{
    margin-bottom: 2.5rem;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
h1 {
    color: #ffffff;
    font-size: 1.1rem;
    margin-bottom: 20px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}
.destacado {
    background-color: #e8f5e8;
    padding: 1rem;
    border-radius: 8px;
    border-left: 4px solid #ffc107;
    margin: 1rem 0;
    font-weight: bold;
}

.boton-redondo-link {
    background-color: #049faa;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 15%;
}

.boton-redondo-link:hover {
  background-color: #ff0000;
}

footer {
    background-color: #333;
    color:white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}